@if (TempData["User"] == null)
{
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#login"
       aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        <span>Giriş Yap</span>
    </a>
    <div id="login" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Giriş Yap</h6>
            <a class="collapse-item" href="@Url.Action("Login", "Account", new { area = "Customer" })">Müşteri Olarak Giriş Yap</a>
            <a class="collapse-item" href="@Url.Action("Login", "Account", new { area = "Seller" })">Satıcı Olarak Giriş Yap</a>
            <a class="collapse-item" href="@Url.Action("Login", "Account", new { area = "Manegement" })">Yönetici Olarak Giriş Yap</a>
        </div>
    </div>
</li>
}