@if (TempData["User"] != null)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Logout", "Account")">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            <span>Oturumu Kapat</span>
        </a>
    </li>
    if (Session["MLogin"] == null)
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("LogChange", "Account")">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Oturumu Değiştir</span>
            </a>
        </li>
    }
}