<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "Product")">
        <i class="fas fa fa-shopping-bag fa-sm fa-fw mr-2 text-gray-400"></i>
        <span>Tüm Ürünler</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "Sellers")">
        <i class="fas fa fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
        <span>Tüm Satıcılar</span>
    </a>
</li>