@if (TempData["User"] != null)
{

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#product"
       aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa fa-shopping-bag fa-sm fa-fw mr-2 text-gray-400"></i>
        <span>Ürün</span>
    </a>
    <div id="product" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Ürün</h6>
            <a class="collapse-item" href="@Url.Action("Index", "Product")">Ürünler</a>
            <a class="collapse-item" href="@Url.Action("Create", "Product")">Yeni Ürün Ekle</a>
        </div>
    </div>
</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#category"
                       aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fa fa-bars fa-sm fa-fw mr-2 text-gray-400"></i>
                        <span>Tüm Kategoriler</span>
                    </a>
                    <div id="category" class="collapse" aria-labelledby="headingUtilities"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Tüm Kategoriler</h6>
                            <a class="collapse-item" href="@Url.Action("Index", "Category")">Tüm Kategoriler</a>
                        </div>
                    </div>
                </li>
}