@{
    <div class="alert-success">
        @if (TempData["Success"] != null)
        {
            <div class="alert-success">
                <p style="color:blue;">@TempData["Success"]</p>
            </div>
        }
    </div>
}