@model String
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Areas/Manegement/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin" }))
        {
            <div class="login-wrap">
                @Html.Partial("PartialViews/_ErrorMsg")

                @Html.TextBox("mail", null, new { @class = "form-control", placeholder = "E-Posta Adresi", @autofocus = "autofocus" })
                <br />
                <button class="btn btn-lg btn-block btn-success" type="submit">Gönder</button>
            </div>
        }
    </div>
</div>