@model String
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Areas/Manegement/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    <h2 class="form-signin-heading">@ViewBag.Title</h2>
    <div class="login-wrap">
        @Html.Partial("PartialViews/_ErrorMsg")

        @Html.TextBox("mail", null, new { @class = "form-control", placeholder = "E-Posta Adresi", @autofocus = "autofocus" })
        <br />
        <button class="btn btn-lg btn-block btn-success" type="submit">Gönder</button>
    </div>
}