<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">E-Commerce/E-Ticaret MVC Projesi - @ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <p>E-Commerce/E-Ticaret MVC Projesi - &copy;Fırat Loğoğlu</p>
    </div>
</div>