@if (TempData["User"] == null)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("About","Home", new { area = "" })">
            <i class="fas fa-fw fa-table"></i>
            <span>Hakkında</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Contact","Home", new { area = "" })">
            <i class="fas fa-fw fa-table"></i>
            <span>İletişim</span>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("About","Home")">
            <i class="fas fa-fw fa-table"></i>
            <span>Hakkında</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Contact","Home")">
            <i class="fas fa-fw fa-table"></i>
            <span>İletişim</span>
        </a>
    </li>
}