<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>

<address>

</address>

<address>
    <strong>Fırat Loğoğlu: </strong> <a href="mailto:firatlogoglu@gmail.com">firatlogoglu@gmail.com</a><br />
    <i class="fab fa-github"><strong> GitHub: </strong></i> <a href="https://github.com/firatlogoglu">https://github.com/firatlogoglu</a>
</address>