<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>&copy; Fırat Loğoğlu - 2021 - @DateTime.Now.Year</span>
        </div>
    </div>
</footer>